/*#50b296*/
        body {
            background: #50b296;
            font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: lightgrey;
            font-weight: bold;
            font-size: 36px;
            margin: 0px;
        }

        header {
            background: white;
            height: 100px;
            padding: 5px;
        }

        .TopNav {
            float: left;
            width: 200px;
            text-align: center;
            height: 90px;
            line-height: 90px;
            color: #4F4F4F;
        }

            .TopNav:nth-child(2) {
                float: right;
            }

        .TopLogo {
            width: 200px;
            margin: 0 auto;
        }

        .LogoContainer img {
            max-width: 200px;
        }

        @media all and (max-width: 620px) {
            header {
                height: 188px;
            }
        }

        @media all and (max-width: 430px) {
            header {
                height: 275px;
            }

            .TopNav {
                float: none;
                width: 100%;
            }
        }
    