/*#50b296*/

/*Universal*/
a{color:#4BB5B0;text-decoration:none}
/* Style Design*/
        body {
            background: #50b296;
            font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: lightgrey;
            font-weight: bold;
            font-size: 36px;
            margin: 0px;
        }

        header {
            background: white;
            height: 100px;
            padding: 5px;
        }

        .TopNav {
            float: left;
            width: 200px;
            text-align: center;
            height: 90px;
            line-height: 90px;
            color: #4F4F4F;
        }

            .TopNav:nth-child(2) {
                float: right;
            }

        .TopLogo {
            width: 200px;
            margin: 0 auto;
        }

        .LogoContainer img {
            max-width: 200px;
        }

        .circles{
            width:200px;
            height:200px;
            border-radius:100px;
            margin-left:140px;
            margin-top:200px;
            color: #4F4F4F;
            float:left;
            position:relative;
        }
		.circles img{max-width:100%}
        .circles p{
            margin:0 auto;
            padding:45px;

        }
		.noisy{background-image:url(../img/Noise_Icon.png)}

		        .arrow{
            font-size:2.4em;
            padding:0;
            margin:0;
            position:absolute;
            margin-left:400px;
            margin-top:120px;
        }

        #arrowRight{
            padding:0;
            margin:0;
            margin-left:750px;
            margin-top:120px;
            -webkit-transform: rotateX('190'); /* Chrome, Safari, Opera */
            transform: rotateX(190deg);
        }

        #rightCircle{
            float:right;
            margin-right:80px;
        }
        
        .fb-comments{
        	position: absolute;
        	margin-top: 500px;
        	margin-left: 180px;
        }

        @media all and (max-width: 620px) {
            header {
                height: 188px;
            }
        }

        @media all and (max-width: 430px) {
            header {
                height: 275px;
            }

            .TopNav {
                float: none;
                width: 100%;
            }
        }
    
